body
{
	color: white;
	font-family: "Acumen variable Concept";
	background-color: #2beaff;
}
#wrapper
{
	width: 960px;
	margin: 0 auto;
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	font-size: 18px;
	color: white;
	text-decoration: none;
}
#tehc
{
	width: 650px;
	margin: 0 auto;
}